<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="BaseEntities" connectionString="metadata=res://*/Models.BaseModel.csdl|res://*/Models.BaseModel.ssdl|res://*/Models.BaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Alice;persist security info=True;user id=tool_user;password=wrench;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LoggingEntities" connectionString="metadata=res://*/Models.Entities.LoggingModel.csdl|res://*/Models.Entities.LoggingModel.ssdl|res://*/Models.Entities.LoggingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Alice;persist security info=True;user id=tool_user;password=wrench;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>