@model AliceApi.Areas.MvcMembership.Models.UserAdministration.IndexViewModel
@{
    //ViewBag.Title = "User Administration";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <section class="featured">
        <div class="content-wrapper">
            <p>Section - featured</p>
           <hgroup class="title">
                <h1>Welcome to ASP.NET Web API!</h1>
                <h2>Modify the code in this template to jump-start your ASP.NET Web API development.</h2>
            </hgroup>
        </div>
    </section>

    <section class="content-wrapper main-content clear-fix">
        <aside>This is aside</aside>
        <p>Section main content</p>
        <h3>This is Header Three (3)</h3>
        <ol class="round">
            <li class="one">
                <h5>Heading Five (5)</h5>
               .NET Framework.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245160">Learn more…</a>
            </li>

            <li class="two">
                <h5>Heading Five (5)</h5>
                NuGet makes it easy to install and update free libraries and tools.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245161">Learn more…</a>
            </li>
            <li class="three">
                <h5>Heading Five (5)</h5>
                You can easily find a web hosting company that offers the right mix of features
                and price for your applications.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
            </li>
        </ol>

        <ul>
            <li>
                Line Item
            </li>
        </ul>
        <fieldset>
            <legend></legend>
        </fieldset>
    </section>
    <section class="content-wrapper clear-fix">
        <fieldset>
            <legend></legend>
        </fieldset>
    </section>
</div>
