@model AliceApi.Areas.MvcMembership.Models.UserAdministration.IndexViewModel
@{
    //ViewBag.Title = "User Administration";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1147876445241589',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div class="jumbotron">
    <h1>AliceApi</h1>
    <p class="lead">A combination of tutorials and code from around the web to leverage the lattest and greates web technologies out there.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>*@
    <p><a href="/AliceApi/LiveChat.html" target="_blank" class="btn btn-default btn-green">SignalR Chat</a>
    </p>

    <p>Round out user management</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <ul>
            <li>Blogging Tools = Implement a Free Text box control</li>            
            <li>Club Membership</li>
            <li>Basic calendar simple list but sends to Facebook</li>
            <li>Post to Facebook Wall | Edit/View Details</li>
            <li>Send a Tweet programattically | | Edit/View Details</li>
            <li>PayPal Integration | manage, add money, accapct money</li>
            <li>Movie/DVD Library Integration</li>
        </ul>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Find your own</p>

        <p>Email List Api | Mail Chimp</p>

        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>

@*<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
<div>
    <section class="featured">
        <div class="content-wrapper">
            <p>Section - featured</p>
            <hgroup class="title">
                <h1>Welcome to ASP.NET Web API!</h1>
                <h2>Modify the code in this template to jump-start your ASP.NET Web API development.</h2>
            </hgroup>
        </div>
    </section>

    <section class="content-wrapper main-content clear-fix">
        <aside>This is aside</aside>
        <p>Section main content</p>
        <h3>This is Header Three (3)</h3>
        <ol class="round">
            <li class="one">
                <h5>Heading Five (5)</h5>
                .NET Framework.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245160">Learn more…</a>
            </li>

            <li class="two">
                <h5>Heading Five (5)</h5>
                NuGet makes it easy to install and update free libraries and tools.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245161">Learn more…</a>
            </li>
            <li class="three">
                <h5>Heading Five (5)</h5>
                You can easily find a web hosting company that offers the right mix of features
                and price for your applications.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
            </li>
        </ol>

        <ul>
            <li>
                Line Item
            </li>
        </ul>
        <fieldset>
            <legend></legend>
        </fieldset>
    </section>
    <section class="content-wrapper clear-fix">
        <fieldset>
            <legend></legend>
        </fieldset>
    </section>
</div>*@


