@model AliceApi.Areas.MvcMembership.Models.UserAdministration.IndexViewModel
@{
    //ViewBag.Title = "User Administration";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <section class="featured">
        <div class="content-wrapper">
           <hgroup class="title">
               <h1 class="title">Welcome to Alice Web API!</h1><br />
                <h2 class="title">Api Link Interface Connector Experience</h2>
            </hgroup>
        </div>
    </section>

    <section class="content-wrapper main-content clear-fix">
        <aside>This is aside</aside>
        
        <div style="float: left; width: 240px; border: 1px solid #000; padding: 3px; margin: 5px;">
            <p>Section main content paragraph</p>
            <h1>This is Header One</h1>
            <h2>This is Header Two</h2>
            <h3>This is Header Three</h3>
            <h4>This is Header Four</h4>
            <h5>This is Header Five</h5>
            <h6>This is Header Six</h6>
        </div>
        
        <div style="float: left; width: 320px; border: 1px solid #000; padding: 3px; margin: 5px;">
            <p>The Ordered List</p>
            <ol>
                <li><h4>Heading Four</h4>
                    .NET Framework. <a href="http://go.microsoft.com/fwlink/?LinkId=245160">Learn more…</a>
                </li>

                <li>
                    <h4>Heading Four</h4>
                    NuGet makes it easy to install and update free libraries and tools.
                    <a href="http://go.microsoft.com/fwlink/?LinkId=245161">Learn more…</a>
                </li>
                <li>
                    <h4>Heading Four</h4>
                    You can easily find a web hosting company that offers the right mix of features
                    and price for your applications.
                    <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
                </li>
            </ol>
        </div>
        
        <div style="float: left; border: 1px solid #000; padding: 3px; margin: 5px; width: 140px;">
            <ul>
                  <li><h4>Heading Four</h4>
                    .NET Framework. <a href="http://go.microsoft.com/fwlink/?LinkId=245160">Learn more…</a>
                </li>

                <li>
                    <h4>Heading Four</h4>
                    NuGet makes it easy to install
                </li>
                <li>
                    <h4>Heading Four</h4>
                    You can easily find a web
                </li>
            </ul>
       <div class="content-wrapper clear-fix">
           <fieldset>
               <legend>Legend</legend>
               <p>Fieldset Paragraph</p>
           </fieldset>
             <fieldset>
            <legend>Legend</legend>
            <p>Fieldset Paragraph</p>
        </fieldset>
        </div>

        </div>
        
       

      
        
 
        

    </section>
    


    

</div>
