<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net461" />
  <package id="ASPSMS" version="0.0.1.31829" targetFramework="net461" />
  <package id="bootstrap" version="3.3.6" targetFramework="net45" />
  <package id="DataAnnotationsExtensions" version="5.0.0.0" targetFramework="net461" />
  <package id="DataAnnotationsExtensions.MVC" version="5.0.0.0" targetFramework="net461" />
  <package id="DataAnnotationsExtensions.MVC3" version="1.1.2" targetFramework="net461" />
  <package id="DotNetOpenAuth" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.AspNet" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.Core.UI" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.GoogleOAuth2" version="1.1.2" targetFramework="net45" />
  <package id="DotNetOpenAuth.InfoCard" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.InfoCard.UI" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.Mvc5" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OAuth.Common" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OAuth.ServiceProvider" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OAuth2.AuthorizationServer" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OAuth2.Client" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OAuth2.Client.UI" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OAuth2.ClientAuthorization" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OAuth2.Core" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OAuth2.ResourceServer" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OpenId.Core.UI" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OpenId.Provider" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OpenId.Provider.UI" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty.UI" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OpenIdInfoCard.UI" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OpenIdOAuth" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.Ultimate" version="4.3.4.13329" targetFramework="net45" />
  <package id="elmah" version="1.2.2" targetFramework="net45" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="Facebook" version="7.0.6" targetFramework="net461" />
  <package id="jQuery" version="2.2.3" targetFramework="net461" />
  <package id="jQuery.UI.Combined" version="1.11.4" targetFramework="net45" />
  <package id="jQuery.Validation" version="1.15.0" targetFramework="net461" />
  <package id="knockoutjs" version="3.4.0" targetFramework="net45" />
  <package id="LinkedIn" version="1.3.3" targetFramework="net461" />
  <package id="log4net" version="2.0.10" targetFramework="net45" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Facebook" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.Membership.OpenAuth" version="2.0.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Providers.Core" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Providers.LocalDb" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.2.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.HelpPage" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.OData" version="5.7.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Tracing" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebHelpers" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.Data" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.OAuth" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net461" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0-rc2-final" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="1.0.0-rc2-final" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0-rc2-final" targetFramework="net461" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.Facebook" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.Google" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.MicrosoftAccount" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.Twitter" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.8.3" targetFramework="net45" />
  <package id="MvcMembership" version="3.8.0" targetFramework="net45" />
  <package id="MvcMembership.Mvc" version="3.8.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="NLog" version="4.3.4" targetFramework="net461" />
  <package id="nonintanon.Owin.Security.Instagram" version="1.0.0" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="Owin.Security.Providers" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.ArcGISOnline" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Asana" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Backlog" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.BattleNet" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Bitbucket" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Buffer" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Cosign" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.DeviantArt" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Discord" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.DoYouBuzz" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Dropbox" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.EVEOnline" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Fitbit" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Flickr" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Foursquare" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Geni" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.GitHub" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Gitter" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.GooglePlus" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.HealthGraph" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Imgur" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Instagram" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.LinkedIn" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Onshape" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.OpenID" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.OpenIDBase" version="2.1" targetFramework="net461" />
  <package id="Owin.Security.Providers.Orcid" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.PayPal" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Reddit" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Salesforce" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Shopify" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.SlackProvider" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.SoundCloud" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Spotify" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.StackExchange" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Steam" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.TripIt" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Twitch" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Untappd" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Vimeo" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.VisualStudio" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.VKontakte" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Wargaming" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.WordPress" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Xing" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Yahoo" version="2.3.0" targetFramework="net461" />
  <package id="Owin.Security.Providers.Yammer" version="2.3.0" targetFramework="net461" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net45" />
  <package id="PagedList.Mvc" version="4.5.0.0" targetFramework="net45" />
  <package id="System.Collections" version="4.0.11-rc2-24027" targetFramework="net461" />
  <package id="System.Collections.Concurrent" version="4.0.12-rc2-24027" targetFramework="net461" />
  <package id="System.ComponentModel" version="4.0.1-rc2-24027" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.0.11-rc2-24027" targetFramework="net461" />
  <package id="System.Globalization" version="4.0.11-rc2-24027" targetFramework="net461" />
  <package id="System.Linq" version="4.1.0-rc2-24027" targetFramework="net461" />
  <package id="System.Linq.Expressions" version="4.0.11-rc2-24027" targetFramework="net461" />
  <package id="System.Reflection" version="4.1.0-rc2-24027" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.0.1-rc2-24027" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.1.0-rc2-24027" targetFramework="net461" />
  <package id="System.Runtime.InteropServices" version="4.1.0-rc2-24027" targetFramework="net461" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net45" />
  <package id="System.Threading" version="4.0.11-rc2-24027" targetFramework="net461" />
  <package id="Twitter.Bootstrap" version="3.0.1.1" targetFramework="net45" />
  <package id="Validation" version="2.2.8" targetFramework="net45" />
  <package id="WebActivator" version="1.4.1" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.1.0" targetFramework="net461" />
  <package id="WebGrease" version="1.6.0" targetFramework="net461" />
</packages>