  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="data source=.;Initial Catalog=Alice;uid=tool_user;pwd=wrench;Integrated Security=False;" />
    <add name="ELMAHConnectionString" providerName="System.Data.SqlClient" connectionString="data source=.;Initial Catalog=Alice;uid=tool_user;pwd=wrench;Integrated Security=False;" />
    <add name="BaseEntities" connectionString="metadata=res://*/Models.BaseModel.csdl|res://*/Models.BaseModel.ssdl|res://*/Models.BaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Alice;persist security info=True;user id=tool_user;password=wrench;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LoggingEntities" connectionString="metadata=res://*/Models.Entities.LoggingModel.csdl|res://*/Models.Entities.LoggingModel.ssdl|res://*/Models.Entities.LoggingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Alice;persist security info=True;user id=tool_user;password=wrench;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
