<appSettings>  
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PreserveLoginUrl" value="true" /> 
  <!-- development email server since you can't send email using Cassini = http://smtp4dev.codeplex.com/ -->
  <add key="emailServer" value="localhost" />
  
  <!--<add key="emailServer" value="snet-mail1.sharenet.idaho.gov"/>-->
  <add key="emailPort" value="25" />
  
  <!--// ELMAH //-->
  <add key="elmah.mvc.route" value="01" />
  
  <!--// NLog //-->
  <!--<add key="loggerTypeName" value="AliceApi.Services.Logging.NLog.NLogLogger"/>-->
  
  <!--// PayPal //-->
  <!--// https://developer.paypal.com/webapps/developer/docs/api/overview/ //-->
  <add key="PayPalKey" value="" />
  <add key="PayPalBaseUrl" value="" />
  <add key="PayPalReturnUrl" value="" />
  <add key="PayPalApi" value="https://api.sandbox.paypal.com" />
  <!--<add key="PayPalApi" value="https://api.paypal.com"/>-->
  
  <!--// Facebook //-->
  <!--//https://developers.facebook.com/ //-->
  <add key="EnableSqlDependency" value="true" />
  <add key="ApplicationId" value="" />
  <add key="ApplicationUrl" value="" />
  <add key="ApiKey" value="" />
  <add key="ApplicationSecret" value="" />
  <add key="ExtendedPermissions" value="offline_access" />
  
  <!--// OAUTH //-->
  <add key="owin:AutomaticAppStartup" value="true" />
  <add key="owin:AppStartup" value="AliceApi.Startup, AliceApi" />
  
  <!--// GOOGLE //-->
  <add key="client_id" value="x.apps.googleusercontent.com" />
  <add key="client_secret" value="-" />
  <add key="auth_uri" value="https://accounts.google.com/o/oauth2/auth" />
  <add key="token_uri" value="https://accounts.google.com/o/oauth2/token" />
  <add key="auth_provider_x509_cert_url" value="https://www.googleapis.com/oauth2/v1/certs" />

  <!--// ASPSMS keys (Two-Factor Authentication) //-->
  <add key="ASPSMSUSERKEY" value="E4Z2UJQ2ARCI" />
  <add key="ASPSMSPASSWORD" value="rosebuds" />
  <add key="ASPSMSORIGINATOR" value="+41790000000" />
</appSettings>

