@model AliceApi.ViewModels.Membership.MemberViewModel.MemberProfile

<p>Add New Member </p>
<p>Grid of Current Members</p>


@*<div class="">
    <label>First Name:</label>
    @Html.Raw(Model.FirstName)
</div>
<div class="">
    <label>Last Name:</label>
    @Html.Raw(Model.LastName)
</div>
<div class="">
    <label>Email:</label>
    @Html.Raw(Model.Members[0].MemberEmail)
</div>
<div class="">
    <label>Last Updated:</label>
    @Html.Raw(Model.DateUpdated)
</div>
<div class="form-actions">
    
</div>*@