
@{
    ViewBag.Title = "Membership Management";
}
<section>
    <h2>@ViewBag.Title<br />
    <small>Manage Your Membership Profile</small></h2>

    <p>Do things like you've never done them before. </p>
</section>

