@model AliceApi.Areas.MvcMembership.Models.UserAdministration.RoleViewModel
@{
	ViewBag.Title = "Role: " + Model.Role;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Role Manager</h3>
<h4>Selected Role: @Model.Role</h4>

	@if(Model.Users.Any()){
		<ul>
			@foreach(var user in Model.Users){ //var user = Model.Users[key];
			<li>
				@if(user == null){
					<span>@user.UserName <em>(Deleted)</em></span>
				}else{
					@Html.ActionLink(user.UserName, "Details", new{id=user.Id})
					using(Html.BeginForm("RemoveFromRole", "UserAdministration", new{id = user.Id, role = Model.Role})){
						<input type="submit" value="Remove From" />
					}
				}
			</li>
			}
		</ul>
	}else{
	<p>No users are in this role.</p>
	}

