

/* overrides */
.form-actions{ margin-bottom: 24px;}
.btn-default{ width: 120px;margin-right: 24px;}
.input-group .date-picker{ width: 242px;}
.ui-widget{ font-size: .9em;}
.dropdown-toggle{ width: 280px;}