/*
    CREATED: Jon.Forst 05/2016
    FOR: AliceApi
    DESCRIPTION: Main site style 
    CHANGES: 
        Split up into more 'logical' parts.  06/27/2014 
*/
/* LAYOUT */
/***********************************************/
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #eeebeb!important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Custom Content */
.btn-externalLogin{ width: 200px;}
.logInOut{ float: right;color: #fff;margin-top: -44px;font-size: 12px;}
.logInOut a{ color: #fff;}


.container{ border: 1px solid red;}


.border0{ border: 1px solid #fff;}
.border1{ border: 1px solid fuchsia;}
.border2{ border: 1px solid fuchsia;}
.navbar-header{ }
.nav{}
